@font-face {
    src: url('Product-Sans-Regular.ttf');
}
/*Palette*/
{
  dark-primary-color: #0097A7;
  default-primary-color: #00BCD4;
  light-primary-color: #FFFFFF;
  text-primary-color: #FFFFFF;
  accent-color: #00d483;
  secondary-text-color: #757575;
  divider-color: #BDBDBD;
  even-cell-background-color: #FFFFFF;
  odd-cell-background-color: #FAFAFF;
}

.root {
  -fx-background-color: dark-primary-color;
  -fx-font-family: "Product Sans"
}

.button{
  -fx-font-size: 16;
  -fx-font-family: 'Product Sans', Arial, sans-serif;
  -fx-text-fill: text-primary-color;
  -fx-padding: 5;
  -fx-border-radius: 4;
}

.text{
  -fx-font-family: 'Product Sans', Arial, sans-serif;
}




/*
.button:pressed {
    -fx-scale-y: 0.975;
    -fx-scale-x: 0.975;
}*/
/*
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:light-primary-color;
}

.list-cell:even {
    -fx-background-color: even-cell-background-color;
}

.list-cell:odd {
    -fx-background-color: odd-cell-background-color;
}

.list-cell:filled:hover {
    -fx-background-color: divider-color;
}*/
